<div class="mb-4 text-success">
  <h2>Sign in</h2>
  Don't have an account?
  <a
    routerLink="/user/signup"
    class="text-decoration-none fw-medium text-success d-inline-block"
    >Sign up</a
  >
</div>
<form [formGroup]="form">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
    <!-- <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('fullName') &&
        form.controls['fullName'].hasError('required')
      "
    >
      Please enter your full name.
    </div> -->
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
    />
    <!-- <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('fullName') &&
        form.controls['fullName'].hasError('required')
      "
    >
      Please enter your full name.
    </div> -->
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Sign In
    </button>
  </div>
</form>
