<div class="mb-4 text-success">
  <h2>Sign up</h2>
  Already have an account?
  <a
    routerLink="/user/login"
    class="text-decoration-none fw-medium text-success d-inline-block"
    >Sign in</a
  >
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Full Name"
      formControlName="fullName"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('fullName') &&
        form.controls['fullName'].hasError('required')
      "
    >
      Please enter your full name.
    </div>
  </div>

  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('email') &&
        form.controls['email'].hasError('required')
      "
    >
      Please enter your email.
    </div>
    <div
      class="error-feedback"
      *ngIf="form.controls['email'].hasError('email')"
    >
      Please enter valid email.
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
    />
    <div class="error-feedback" *ngIf="hasDisplayableError('password')">
      <ng-container [ngSwitch]="form.controls['password'].errors | firstKey">
        <div class="error-feedback" *ngSwitchCase="'required'">
          Please enter your password.
        </div>
        <div class="error-feedback" *ngSwitchCase="'minLength'">
          Atleast 6 characters required.
        </div>
        <div class="error-feedback" *ngSwitchCase="'pattern'">
          One or more special character(s)
        </div>
      </ng-container>
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Confirm Password"
      formControlName="confirm_password"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('confirm_password') &&
        form.controls['confirm_password'].hasError('passwordMismatch')
      "
    >
      Password doesn't match.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Register
    </button>
  </div>
</form>
